{% extends "base.html" %}

{% block title %}
Úvod | Fitness Tracker
{% endblock %}

{% block content %}

<section class="hero">
    <h1>Trénuj systematicky. Sleduj progres. Zlepšuj sa.</h1>
    <p>
        Fitness Tracker ti ponúka hotové tréningové plány, zásobník cvikov a fórum, kde sa môžeš opýtať akúkoľvek otázku a tréner ti s radosťou poradí.
    </p>

    <div class="hero-buttons">
        <a href="{% url 'workouts' %}" class="btn primary">
            Tréningy
        </a>

        <a href="#" class="btn primary">
            Zásobník cvikov
        </a>

        <a href="#" class="btn primary">
            Fórum
        </a>
    </div>
</section>

<hr>
{% endblock %}
