    .navbar {
      background: rgb(83, 83, 83);
      padding: 45px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 22px;
    }
    .logo {
      letter-spacing: 1px;
      color: black;
      text-decoration: none;
    }
    .navbar a:hover {
      color: grey;
    }
    .menu {
      flex: 1;
      text-align: center;
    }
    .menu a {
      margin: 0 20px;
      text-decoration: none;
      color: black;
      font-weight: lighter;  
    }
    