body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
  }     
  header {
    background: white;
    padding: 45px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
  header a {
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
  }
  header a:hover {
    color: grey;
  }
  .nav-middle {
    flex: 1;
    text-align: center;
  }
  .nav-middle a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: lighter;  
  }
  .uvod {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 65px 15px;
    font-size: 75px;
    line-height: 1.2; 
  }
  .welcome {
    text-align: center;
  }
  .welcome h2 {
    font-size: 30px;
    font-weight: lighter;
  }
  .welcome p {
    color: #666;
    letter-spacing: 1px;
    margin-left: 538px; 
    max-width: 820px;
  }
  .sluzby{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1300px;
    margin: 0 auto;
  }
  .sluzba {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
  }
  #nadpis {
    font-size: 50px;
    font-weight: lighter;
  }
  .sluzba h2 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  .bullet {
    font-weight: bold;
  }
  .citat {
    text-align: center;
    background: #eee;
    padding: 30px;
    margin: 60px 295px;
    margin-right: 320px;
    font-style: italic;
    font-weight: lighter;
    border-left: 5px solid #ccc;
    font-size: 32px;
  }
  footer {
    text-align: left;
    padding: 0px 295px;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  footer a{
    text-decoration: none;
    color: #666;
  }
  .referencie {
    margin-bottom: 60px;
    max-width: 1300px;
    margin: 0 auto;
  }
  .referencie h2 {
    margin-top: 70px;
    font-size: 30px;
    line-height: 0.2;
  }
  .referencie #c {
    margin-top: 110px;
  }
  .referencie p {
    max-width: 1300px;
    font-size: 24px;
    line-height: 1.1;
  }
  .referencie-all {
    margin-bottom: 80px;
  }
  .opravy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 220px;
    margin-bottom: 50px;
  }
  .oprava {
    font-size: 17px;
    line-height: 1.6; 
    margin-bottom: 20px;
  }
  .oprava h2 {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: lighter;
    text-align: center;
  }
  .kontakt {
    background-color: #1d2230;
    color: white;
    padding: 60px 250px;
  }
  .kontakt h1 {
    font-size: 50px;
    font-weight: lighter;
    padding: 0px 400px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
  }
  .kontakt ul {
    list-style: disc;
    padding-left: 425px;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    color: #A9A9A9;
  }
  .kontakt li {
    font-size: 25px;
    margin: 10px 0;
    line-height: 1.1;
  }
  .footer {
    text-align: center;
    padding: 30px 20px;
    font-size: 26px;
    color: #666;
    line-height: 1.4;
  }
  hr {
    background-color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .mapa {
    display: flex;
    justify-content: center;
  }
  label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .povinne-polia {
    font-style: italic;
    font-size: 15px;
  } 
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  .name-fields {
    display: flex;
    gap: 10px;
  }
  .name-fields input {
    width: 100%;
  }
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e5e8ea;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .form {
    margin-left: 310px;
    margin-right: 1200px;
    margin-bottom: 80px;
    color: #666;
  }
  .form h1 {
    color: black;
    font-weight: lighter;
  }
  #prvy {
    margin-left: 295px;
    margin-right: 320px;
  }
  #druhy {
    margin-left: 200px;
    margin-right: 200px;
  }